In [2]:
import cv2  
import numpy as np 
from PIL import ImageFilter 
from PIL import Image
from IPython.display import clear_output
import matplotlib.pyplot as plt
import random
import imutils
from os import listdir
import os 
import shutil
import pandas as pd
import os.path
from os import scandir
import os 
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
DATASET_PATH = '/home/souhila/nvme-storage/ATLAS/RA_V3/' 
BOARD_PATH = '/home/souhila/nvme-storage/ATLAS_info.xlsx'

In [11]:
info_data={}

for root, _, files in os.walk('/home/souhila/nvme-storage/ATLAS/RA_V3' ):
    if len(files)!=0:
        for file in files:         
            df1 = pd.DataFrame({"Codes" : [file.split('_')[1]], 'RA': [len(file)]})
            info_data = pd.concat([pd.DataFrame(info_data), df1])
classeur = pd.read_excel(BOARD_PATH)
classeur = pd.merge(left=classeur, right= info_data, how='left')

In [12]:
info_data

   Codes  RA
0   CBAM  16
0   CBAM  16
0   CBAM  16
0   CBAM  16
0   CBAM  16
..   ...  ..
0   NGOT  16
0   NGOT  16
0   NGOT  16
0   NGOT  16
0   NGOT  16

[9127 rows x 2 columns]